@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");

:root {
  --color-principal: #037bc0;
  --color-secundario: #e1e1e1;
  --fuente-principal: "Roboto", sans-serif;

  /* Codigo para pruebas, porfavor remover este codigo una vez el desarrollo este terminado. :TEST */
  /* :TEST Hace referencia a un bloque de codigo de pruebas */
  --bloque-color-1: #cd5c5c;
  --bloque-color-2: #fa8072;
  /* Hasta aquí.  */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px */
}

h1 {
  font-family: var(--fuente-principal);
  font-weight: 900;
  font-style: normal;
  font-size: 4.5rem;

  /* :TEST */
  background-color: var(--bloque-color-1);
  /* :ENDTEST  */
}

p {
  /* :TEST */
  background-color: var(--bloque-color-2);
  /* :ENDTEST  */
}

body {
  font-family: var(--fuente-principal);
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
}

/* Utilidades globales */
.reiniciar-estilos {
  margin: 0rem;
}

.centrar-texto {
    text-align: center;
}

.separador {
  margin-bottom: 5rem;
}

/* Contenido de la pagina */
.contenedor-principal {
  background-color: var(--color-secundario);
  max-width: 120rem;
  width: 90%;
  margin: 0 auto;
}
